<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tembearelaxed">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Eldoret" />
        <activity android:name=".Nairobi" />
        <activity android:name=".Machakos" />
        <activity android:name=".Meru" />
        <activity android:name=".Mombasa" />
        <activity android:name=".Naivasha" />
        <activity android:name=".Nakuru" />
        <activity android:name=".Turkana" />
        <activity android:name=".EldSites" />
        <activity android:name=".EldHotels" />
        <activity android:name=".EldRest" />
    </application>

</manifest>